body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Protest Strike', sans-serif;
    background-color: #f4f4f4;
    background-image: url('../images/mandolin_bg.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
}


#app { /* Assuming #app is the parent container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Adjust based on your specific layout */
    height: 100vh; /* Ensure it takes the full viewport height */
}

h1, h2, h3 {
    font-family: 'Protest Strike', sans-serif;
}

#imageContainer {
    position: relative; /* Makes child elements with absolute positioning relative to this container */
    width: 100%; /* Adjust based on your layout */
    max-width: 500px; /* Example: Restrict the image's maximum width */
    margin: auto; /* Center the container if needed */
}

#imageDisplay {
    width: 100%; /* Makes the image responsive, adjust as needed */
    display: block; /* Removes bottom margin/spacing */
    height: auto; /* Maintain aspect ratio */
}



#navigation {
    margin-bottom: 5px; /* Ensures 5px space below the buttons before the details container */
}

#navigation button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#navigation {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px; /* Adjusted to combine previous separate rules */
}


#priceTag {
    position: absolute;
    top: 20%; /* Center vertically */
    left: 75%; /* Keep centering horizontally */
    transform: translate(-50%, -50%); /* Center it based on its own size */
    font-size: 60px;
    color: #040000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 10px;
    border-radius: 25px;
    z-index: 2; /* Ensure it's above the image */
    /* Removed align-items: center; as it's not effective with position: absolute; without display: flex; on a parent */
    margin-top: 10px; /* You might not need this anymore with the transform adjustment */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}


#detailsContainer {
    position: absolute; /* Positions it relative to #imageContainer */
    top: 5px; /* Aligns the bottom of the container with the bottom of the image */
   
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    color: #050000;
    padding: 5px;
    font-size: 14px;
    overflow: hidden; /* Hide overflow */
    border-radius: 0; /* Adjust as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Optional: Adds shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically inside the container */
}


#detailsText {
    line-height: 1.4; /* Adjust line height for readability */
    height: calc(1.4em * 4); /* Show 4 lines based on line-height */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit text to 4 lines */
    -webkit-box-orient: vertical;
}

#readMore {
    display: inline-block; /* Use inline-block for text elements */
    height: auto; /* Auto height to fit the content */
    width: auto; /* Auto width to fit the content */
    margin-top: auto; /* Keep pushing to the bottom if it's inside a flex container */
    margin-left: auto; /* Align to the right */
    margin-right: 0; /* Align to the right */
    text-indent: 0; /* Reset text indent to make text visible */
    border: none; /* Remove border if it's a button or has a border */
    color: tomato; /* Text color */
    text-align: right; /* Align text to the right */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
    text-decoration: none; /* Remove underline */
    padding-right: 10px; /* Add padding on the right side */
    padding-bottom: 10px;
}




@media (max-width: 768px) {
    #detailsContainer {
        right: auto; /* Remove fixed right positioning */
        left: 5px; /* Ensure it doesn't overflow off the left of the screen */
        font-size: 14px; /* Increase font size for readability */
        width: calc(100% - 10px); /* Adjust width to ensure 5px margin on both sides */
        max-width: 400px; /* Optional: Adjust max-width to limit container size */
        margin-bottom: 5px; /* Ensure 5px margin at the bottom */
    }
    #priceTag {
        position: fixed;
        left: 50%;
        font-size: 60px; /* Adjust font size for readability on smaller screens */
        z-index: 100; /* Ensure it's above other content */
    }
    #imageDisplay {
        width: 100%; /* Ensure it fits within smaller screens */
    }
    #detailsText {
        height: calc(1.4em * 3); /* Show 3 lines based on line-height */
    }
    #navigation {
        position: fixed; /* Keep it fixed at the bottom */
        bottom: 0; /* Align to the bottom of the viewport */
        left: 0; /* Align to the left of the viewport */
        width: 100%; /* Stretch across the full width of the viewport */
        margin-top: 0; /* Remove any top margin */
        z-index: 1000; /* Ensure it's above other content; adjust as needed */
        /* Add a background if needed to enhance visibility over the content */
    
    }

}





  



